.navbar {
  overflow: hidden;
  background-color:black;
  
}

.navbar a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: right;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

*{
  font-family:'Raleway', sans-serif ;
}
h1{
  font-family:'Raleway', sans-serif ;
  background-color: #882d1d;
  color: #fff;
  border: 20px;
  
  font-size: 25px;
  text-align: center;
}

body{
  background-image: url("table.jpg");  
}

img {
  width: 20%;
  height:80px;
}



